.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/Zombie.hpp
!ex00/Zombie.cpp
!ex00/newZombie.cpp
!ex00/randomChump.cpp

ex01/*
!ex01/Makefile
!ex01/main.cpp
!ex01/Zombie.hpp
!ex01/Zombie.cpp
!ex01/zombieHorde.cpp

ex02/*
!ex02/Makefile
!ex02/main.cpp

ex03/*
!ex03/Makefile
!ex03/main.cpp
!ex03/Weapon.hpp
!ex03/Weapon.cpp
!ex03/HumanA.hpp
!ex03/HumanA.cpp
!ex03/HumanB.hpp
!ex03/HumanB.cpp

ex04/*
!ex04/Makefile
!ex04/main.cpp

ex05/*
!ex05/Makefile
!ex05/main.cpp
!ex05/Harl.hpp
!ex05/Harl.cpp

ex06/*
!ex06/Makefile
!ex06/main.cpp
!ex06/Harl.hpp
!ex06/Harl.cpp
